header{
    width: 100%;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 20%);
    position: fixed;
    top: 0;
    z-index: 999;
    background: white;
}
header .container{
    position: relative;
}
header .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pagecontent {
    padding-top: 84px;
}
/*top menu*/

.top-menu {
    position: absolute;
    right: 15px;
    z-index: 55;
}
.topBar img {
    max-height: 20px;
    max-width: 25px;
    object-fit: contain;
    display: inline-block;
}
.topBar a {
    padding: 4px 10px;
    display: inline-block;
}
.topBar a.icon-link{
    padding-left: 30px;
    position: relative;
    color: #6FA553; 
}
.topBar a.icon-link img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.topBar a.login {
    background-color: #A4BA98;
    color: white;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.25s ease;
    -webkit-transition: background-color 0.25s ease;
    -ms-transition: background-color 0.25s ease;
    -moz-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
    display: block;
    cursor: pointer;
}
.topBar a.login:hover{
    background-color: #6FA553;
    color: #fff;
}
/*end of top menu*/

/*navigation*/
nav.navbar {
    width: 100%;
    padding: 0px 15px;
}
.mr-auto.navbar-nav {
    margin-top: 30px;
}
.logo-box {
    padding: 10px 0;
}
a.navbar-brand img {
    min-width: 280px;
    max-height: 80px;
}
div#navbarNav {
    flex-grow: unset;
}
a.nav-link {
    color: #6F6F6F;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding: 15px 6px;
    text-decoration: none;
    position: relative;
    display: block;
}
a.nav-link:after{
    content: '';
    display: block;
    background-color: #00A1B8;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0px;
    transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
}
a.nav-link:hover:after{
    height: 10px
}
/*end of navigation*/
/*mobile menu*/

@media (max-width: 580px){
    a.navbar-brand img {
        min-width: 160px;
        max-height: 40px;
    }
    .top-menu {
        position: absolute;
        right: 97px;
        z-index: 55;
        top: 5px;
    }
    .topBar a.icon-link {
        padding-left: 25px;
        font-size: 0;
    }
    .topBar > li {
        margin-left: 5px;
    }
    .pagecontent {
        padding-top: 44px;
    }
}